:root {
  --bgPrimary: #ffffff;
  --bgSecondary: #000000;
  --textPrimary: #000000;
  --textSecondary: #ffffff;
  --textHighlight: #0bb4bf;
  --gradientOne: #333437;
  --gradientTwo: #2e8085;
}

[data-theme="dark"] {
  --bgPrimary: #000000;
  --bgSecondary: #ffffff;
  --textPrimary: #ffffff;
  --textSecondary: #000000;
  --textHighlight: #0bb4bf;
  --gradientOne: #333437;
  --gradientTwo: #2e8085;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  background-color: var(--bgPrimary);
}

/* UTILITIES CSS */

a {
  text-decoration: none !important;
  color: var(--textPrimary) !important;
}

img {
  width: 100%;
  object-fit: cover;
}

.logo {
  width: 140px;
}

input,
textarea {
  outline: none;
  border: none;
  background: transparent;
}

.section {
  width: 90%;
  margin: 2rem auto;
  padding: 0.5rem 0rem;
}

.text-lg {
  font-size: 4rem;
  margin: 2rem auto;
  text-align: center;
  font-family: "Krona One", sans-serif;
}

.text-md {
  font-size: 2.2rem;
}

.text-sm {
  font-size: 1.6rem;
}

.text-xsm {
  font-size: 1rem;
}

.text-hglt {
  color: var(--textHighlight);
}

.icon {
  width: 30px;
  height: 30px;
  color: var(--textHighlight);
}

.icon-sm {
  width: 20px;
  height: 20px;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

.primary-btn {
  padding: 0.8rem 1.5rem !important;
  border-radius: 100px !important;
  color: var(--textSecondary) !important;
  background: linear-gradient(
    to bottom,
    var(--gradientTwo),
    var(--gradientOne)
  );
  padding: 0.8rem 1.2rem !important;
  background: #000 !important;
  color: #ffffff !important;
  border: 2px solid #ffffff !important;
}

.primary-btn:hover {
  box-shadow: 6px 7px 7px 0px rgba(0, 0, 0, 0.5);
}

.call-btn {
  background: linear-gradient(
    145.82deg,
    var(--gradientOne) 40.75%,
    var(--gradientTwo) 60.88%
  );
  border-radius: 50px !important;
  padding: 0.8rem 1rem !important;
}

.call-btn > a {
  color: var(--textSecondary) !important;
}

/* HEADERS COMPONENT CSS */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 1rem;
}

.header_nav {
  display: flex;
  flex: 0.8;
  justify-content: space-around;
  align-items: center;
}

.header_nav_link {
  text-decoration: none;
  color: var(--textPrimary);
  transition: all 0.25s ease;
}

.header_nav_link:focus {
  color: var(--textHighlight) !important;
}

.header_nav_link:hover {
  transform: scale(1.1);
  color: var(--textHighlight) !important;
}

.header-dark {
  background: linear-gradient(
    177.82deg,
    var(--gradientOne) 14.75%,
    var(--gradientTwo) 110.88%
  );
}

.header-dark .header_nav_link {
  color: var(--textSecondary) !important;
}

/* APP PAGE CSS (HOMEPAGE) */

.carousel-control-prev,
.carousel-control-next {
  width: 5% !important;
}

.app-btn {
  position: absolute;
  bottom: 30%;
  left: 7%;
  margin-top: 1rem;
}

/* SERVICES COMPONENT CSS (HOMEPAGE) */

.services-home_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 1.5rem;
}

.service-home {
  display: flex;
  justify-content: center;
}

.service-home_card {
  max-width: 300px;
  height: 100%;
  padding: 1rem 0.8rem;
  text-align: center;
  background: linear-gradient(
    177.82deg,
    var(--gradientOne) 14.75%,
    var(--gradientTwo) 110.88%
  );
  border-radius: 10px;
  transition: all 0.25s ease;
}

.service-home_card:hover {
  transform: scale(0.9);
}

.service-home_card_img {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-home_card_img img {
  width: 110px;
  height: 110px;
}

.service-home_card_info {
  color: var(--textSecondary);
}

.service-home_card_info h2 {
  margin: 1rem auto;
}

.desc {
  color: var(--textHighlight);
  margin: 0.6rem auto;
}

.service-home-btn {
  margin: 0.8rem auto;
}

/* OUR TEAM (HOMEPAGE) */

.team {
  width: 70%;
  margin: auto;
  text-align: center;
}

.member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.member_img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid var(--textHighlight);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ABOUT US PAGE CSS */
.about-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

/* SERVICES PAGE CSS */

.services {
  background-color: #f7f7f7;
  padding: 1.5rem 1rem;
}

.service {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 5rem;
  padding: 0.8rem;
  column-gap: 1rem;
}

.service.right {
  direction: rtl;
}

.service > img {
  max-height: 300px;
  width: 100%;
  object-fit: contain;
  /* -webkit-box-shadow: -34px 34px 1px 0px rgba(11, 180, 191, 0.5);
  -moz-box-shadow: -34px 34px 1px 0px rgba(11, 180, 191, 0.5);
  box-shadow: -34px 34px 1px 0px rgba(11, 180, 191, 0.5);
  border: 3px solid rgba(11, 180, 191, 0.5); */
}

/* .service.right > img {
   -webkit-box-shadow: 34px 34px 1px 0px rgba(11, 180, 191, 0.5);
  -moz-box-shadow: 34px 34px 1px 0px rgba(11, 180, 191, 0.5);
  box-shadow: 34px 34px 1px 0px rgba(11, 180, 191, 0.5); 
} */

.service_info_title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
}

.service_info_desc {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

/* FOOTER CSS (HOMEPAGE) */

.footer-container {
  width: 100%;
  background: linear-gradient(
    to right,
    var(--gradientTwo),
    var(--gradientOne) 110.88%
  );
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
  word-wrap: break-word;
  overflow-x: hidden;
}

.social-links {
  display: flex;
  justify-content: center;
}

.icons {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin: 1rem 0.5rem;
  cursor: pointer;
  color: var(--textHighlight);
}

/* CONTACT PAGE CSS */

.contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.contacts_left {
  display: flex;
  flex-direction: column;
  position: relative;
}

.contacts_left_info {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0 1rem;
  margin-bottom: 1.5rem;
}

.contacts_right {
  padding: 0rem 1rem;
}

.form {
  margin: 2rem auto;
}

.form-group .label {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.form input,
.form textarea {
  display: block;
  width: 60%;
  margin-bottom: 1rem;
  margin-top: 0.8rem;
  border-bottom: 2px solid var(--textPrimary);
  font-family: "Lato", sans-serif;
}

.form textarea {
  resize: none;
}

.btn-submit {
  padding: 0.8rem 1.2rem;
  display: flex !important;
  align-items: center !important;
  transition: all 250ms ease !important;
}

.btn-submit:hover,
.btn-submit:focus {
  box-shadow: 6px 7px 7px 0px rgba(0, 0, 0, 0.5);
}

.btn-submit p {
  margin-left: 0.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

/* TIMELINE */

/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  background: linear-gradient(
    145.82deg,
    var(--gradientOne) 40.75%,
    var(--gradientTwo) 60.88%
  );
  padding: 100px 0;
  color: var(--textSecondary);
  text-transform: uppercase;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  background: var(--bgPrimary);
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: linear-gradient(
    145.82deg,
    var(--gradientOne) 40.75%,
    var(--gradientTwo) 60.88%
  );
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: linear-gradient(
    145.82deg,
    var(--gradientTwo) 40.75%,
    var(--gradientOne) 60.88%
  );
  color: var(--textSecondary);
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--textHighlight) transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent var(--textHighlight);
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #f45b69;
}

.timeline ul li div {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f45b69 transparent transparent;
  }
}

/* MEDIA QUERY FOR TABLET */

/* MEDIA QUERY FOR MOBILES */
@media only screen and (max-width: 768px) {
  .btn {
    padding: 0.5rem 0.8rem !important;
    font-size: 0.6rem !important;
  }

  .text-lg {
    font-size: 3rem;
  }

  .app-btn {
    position: absolute;
    bottom: 3vh;
    left: 7%;
    margin-top: 1rem;
  }

  .about-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .about-container > div {
    border-radius: 0;
  }

  .services-home_grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.8rem;
  }

  .team {
    width: 100%;
  }

  .footer-container {
    display: block;
    text-align: center;
  }

  .service {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 5rem;
    padding: 0.8rem;
  }

  .contacts {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.8rem;
  }

  .contacts_left {
    order: 2;
  }

  .contacts_right {
    order: 1;
  }

  .contacts_left_info {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.8rem 0rem;
    margin-bottom: 1.5rem;
  }

  .m-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
  }

  .m-header img {
    margin-top: -1rem;
  }

  .m-menu {
    text-align: right;
    flex: 1;
  }

  .m-menu_icon {
    font-size: 30px;
  }

  .m-menu .header_nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 2rem;
  }

  .m-menu .header_nav .header_nav_link {
    display: block;
    padding: 0.6rem 1rem;
  }

  .m-call {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: fixed;
    z-index: 100;
    right: 20px;
    bottom: 20px;
    font-size: 30px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: linear-gradient(
      to bottom,
      var(--gradientTwo),
      var(--gradientOne)
    );
  }

  .footer-container p.text-sm {
    font-size: 1rem;
  }
}
